<% include header %>
<% include navigation %>
	<div class="content-wrapper">
		<div class="container-fluid">
			<% if (email) { %>
				<%= data %>
			<% } %>
		</div>
	</div>
<% include footer %>